@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

:root {
  --blue: #204B57;
  --dark-red: #711F31;
  --lighter-red: #9E3845;
  --yellow: #FFE5A1;
  --pale: #FBF4E6;

}

body {
  background-color: var(--blue);
}

#loginBtn {
  margin-top: 7%;
  color: var(--yellow);
  background-color: var(--dark-red);
}

#tagsBtn {
  margin-top: 7%;
  color: var(--yellow);
  background-color: var(--dark-red);
}

.musicianForm {
  background-color: var(--pale);
  border-radius: 10%;
  padding: 1% 10% 10% 10%
}
