@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

:root {
    --blue: #204B57;
    --dark-red: #711F31;
    --lighter-red: #9E3845;
    --yellow: #FFE5A1;
    --pale: #FBF4E6;
  
  }
.fav-title{
    font-family: 'Bungee';
    color: #FFE5A1;
    text-shadow: 5px 2px 5px #711F31 ;
    /* text-decoration: underline wavy; */
}

.fav-list{
    margin-top: 25% !important;
    background-color: #FBF4E6 !important;
    font-family: "Zen Maru Gothic", serif !important;
    
}
.css-10hburv-MuiTypography-root{
    font-family: "Zen Maru Gothic", serif !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}
.fav-container{
    height: 40vh;
    margin-top: 10%;
   
}

.fav-heart{
    width:25px;
}