.error-image {
    max-width: 75%;
    max-height: 100%;
}

.musicForm {
    margin-top: 15px;
}

.error-main {
    margin-top:50px !important;
}

p {
    font-family: 'Zen', 'Serif';
    font-size: 20px;
}