#loginBtn {
    margin-top: 7%;
    color: var(--yellow);
    background-color: var(--dark-red);
  }
  
  #tagsBtn {
    margin-top: 7%;
    color: var(--yellow);
    background-color: var(--dark-red);
  }
  
  .musicianForm {
    background-color: var(--pale);
    border-radius: 10%;
    padding: 1% 10% 10% 10%;
    
  }

  
#loginBtn {
  margin-top: 7%;
  color: var(--yellow);
  background-color: var(--dark-red);
}

#tagsBtn {
  margin-top: 7%;
  color: var(--yellow);
  background-color: var(--dark-red);
}

.musicianForm {
  background-color: var(--pale);
  border-radius: 10%;
  padding: 1% 10% 10% 10%
}