#loginBtn {
    margin-top: 7%;
    color: var(--yellow);
    background-color: var(--dark-red);
  }
  
  #tagsBtn {
    margin-top: 7%;
    color: var(--yellow);
    background-color: var(--dark-red);
  }

  .musician-bio {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: var(--pale);
    border-radius: 15px;
    padding: 3%;
  }

  .musician-bio img {
    max-height: auto;
    max-width: 100%;
    border-radius: 15px 15px 0 0;
  }

  
#loginBtn {
  margin-top: 7%;
  color: var(--yellow);
  background-color: var(--dark-red);
}

#tagsBtn {
  margin-top: 7%;
  color: var(--yellow);
  background-color: var(--dark-red);
}